/* GENERAL & BODY ------------------------------ */

.fullWidth { width:100%; min-width: 100%; margin: 0; padding:0 }
.row { max-width: 68.0em }
.clear { clear: both }

p  { font-size: 0.85em }
h1 { font-size: 2.15em }
h2 { font-size: 1.85em }
h3 { font-size: 1.55em }
h4 { font-size: 1.25em }
h5 { font-size: 0.95em }


aside h5 { background: none repeat scroll 0% 0% #F8F8F8; border-top:2px solid #EBEBEB; color: #333; padding: 12px 0px 12px 15px; font-weight: bold  }
aside .panel { background: none; border: none }

#mainContainer { margin-top: 20px }


/* HEADERS ------------------------------ */

#headerMenuContainer { background-color: #999; padding: 5px 0 }
#headerMenu { font-size: 0.9em; margin:0 }
#headerMenu li {}
#headerMenu li a { color: #FFF }

#headerContainer { background-color: #e9e9e9; padding: 20px 0 10px 0; height: 80px }
.logo { min-width:80px; min-height:40px }
.headerExtraLink { margin: 1.1em 0.5em 0 0 }


/* FORMS ------------------------------ */
form { margin: 0; padding: 0 }
#frmSearch { padding: 5px 0 0 0 }

/* LOADING DIV ------------------------------ */

#loading { display:none; position:fixed; top:50%; left:50%; margin-left:-40px; z-index:999 }


/* bValidator ------------------------------ */

.bvalidator_invalid { background-color: #FFFFAE }

.bvalidator_errmsg { background-color: #333; font-size: 14px; border: 1px solid #999; color: #FFF; display: none; white-space: nowrap; padding-top: 2px; padding-right: 10px;
					 padding-bottom: 2px; padding-left: 5px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
					 filter: alpha(opacity=90); opacity: 0.9; filter: alpha(opacity=90); z-index: 9 }
	
.bvalidator_errmsg .bvalidator_close_icon { margin-left: 5px; margin-top: -2px; font-weight: bold; color: #F96; cursor: pointer }